<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key ="CarpetaTP.C#2" value="C:\Users\jrmol\OneDrive\Desktop\Imagenes Sql\TF_c#2"/>
	</appSettings>
</configuration>